@page "/inventario"
@inject NavigationManager NavigationManager
@using System.ComponentModel.DataAnnotations
@using UnphuCard_Api.DTOS
@using UnphuCard_Api.Models
@inject InventarioService InventarioService
@inject Categoria Categoria


<div class="inventory-management">
    <header>
        <Header></Header>
    </header>

    <main>
        <div class="actions">
            <button class="button button-ghost" @onclick="GoBack">
                <span class="icon">←</span> Volver al menú principal
            </button>
            <button class="button button-primary" @onclick="() => isAddProductDialogOpen = true">
                <span class="icon">+</span> Agregar Nuevo Producto
            </button>
        </div>

        <div class="product-grid">
            @if (productosInv != null)
            {
                @foreach (var productosInv in productosInv)
                {
                    <div class="card">
                        <div class="card-header">
                            <h3>@productosInv.NombreDelProducto</h3>
                            <div class="card-actions">
                                <button class="button button-icon" @onclick="() => ToggleProductEdit(productosInv.Id)">
                                    <span class="icon edit-icon">✎</span>
                                </button>
                                @*  <button class="button button-icon" @onclick="() => HandleDelete(productosInv.Id)">
                                <span class="icon delete-icon">🗑</span>
                            </button> *@
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="product-image2">
                                <img src="@productosInv.ImagenDelProducto" alt="@productosInv.ImagenDelProducto" />
                            </div>
                            @if (editingProductId == productosInv.Id)
                            {
                                <EditForm Model="@productosInv">
                                    <DataAnnotationsValidator />

                                    <div class="form-group">

                                        <label for="@($"price-{productosInv.Id}")">Precio</label>
                                        <InputNumber id="@($"price-{productosInv.Id}")" @bind-Value="productosInv.PrecioDelProducto"
                                        min="0"/>
                                        @if (productosInv.PrecioDelProducto < 0)
                                        {
                                            <div class="floating-alert">
                                                Inserte un valor válido
                                                <span class="floating-alert-close">&times;</span>
                                            </div>
                                        }

                                    </div>
                                    <div class="form-group">
                                        <label for="@($"quantity-{productosInv.Id}")">Cantidad</label>
                                        <InputNumber id="@($"quantity-{productosInv.Id}")" @bind-Value="productosInv.CantidadEnElInventario"
                                        min="0"/>
                                        @if (productosInv.CantidadEnElInventario < 0)
                                        {
                                            <div class="floating-alert">
                                                Inserte un valor válido
                                                <span class="floating-alert-close">&times;</span>
                                            </div>
                                        }

                                    </div>

                                    <div class="form-actions">
                                        <button type="button" class="button button-secondary" @onclick="() => BotonCancelar(productosInv.Id)">Cancelar</button>
                                        <button @onclick="() => HandleEditProduct(productosInv.Id)" type="submit" class="button button-primary">Guardar</button>
                                    </div>
                                </EditForm>
                            }
                            else
                            {
                                <p class="product-name2">@productosInv.NombreDelProducto</p>
                                <p class="product-price2">Precio: $@(productosInv.PrecioDelProducto?.ToString("F2") ?? "0.00")</p>
                                <p class="product-quantity2">Cantidad: @productosInv.CantidadEnElInventario</p>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </main>


</div>
@if (isAddProductDialogOpen)
{
    <div class="modal-backdrop" @onclick="HandleBackdropClick">
        <div class="modal-dialog">
            <div class="modal-content" @onclick:stopPropagation>
                <div class="modal-header">
                    <h2>Agregar Nuevo Producto</h2>
                </div>

                <div class="modal-body">
                    <EditForm Model="@insertproductosInv">
                        <DataAnnotationsValidator />

                        <div class="form-group">
                            <label>Nombre</label>
                            <InputText @bind-Value="insertproductosInv.ProdDescripcion" 
                            placeholder="Nombre del producto"
                            class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>Precio</label>
                            <InputNumber @bind-Value="insertproductosInv.ProdPrecio" 
                            placeholder="0.00"
                            class="form-control"
                            min="0"/>
                            @if (insertproductosInv.ProdPrecio < 0)
                            {
                                <div class="floating-alert">
                                    Inserte un valor válido
                                    <span class="floating-alert-close">&times;</span>
                                </div>
                            }
                        </div>

                        <div class="form-group">
                            <label>Cantidad</label>
                            <InputNumber @bind-Value="insertproductosInv.InvCantidad" 
                            placeholder="0"
                            class="form-control"
                            min="0"/>
                            @if (insertproductosInv.InvCantidad < 0)
                            {
                                <div class="floating-alert">
                                    Inserte un valor válido
                                    <span class="floating-alert-close">&times;</span>
                                </div>
                            }
                        </div>

                        <div class="form-group">
                            <label>Categoría</label>
                            <InputSelect @bind-Value="insertproductosInv.CatProdId" class="form-control" required>
                                <option value="">Seleccione una categoría</option>
                                @foreach (var categoria in categorias)
                                {
                                    <option value="@categoria.CatProdId">@categoria.CatProdDescripcion</option>
                                }
                            </InputSelect>
                        </div>

                        <div class="form-group">
                            <label>Imagen</label>
                            <InputFile OnChange="HandleImageUpload" 
                            accept="image/*"
                            class="form-control" required/>
                            @if (insertproductosInv.ProdPrecio < 0)
                            {
                                <div class="floating-alert">
                                    Inserte un valor válido
                                    <span class="floating-alert-close">&times;</span>
                                </div>
                            }

                            @if (!string.IsNullOrEmpty(previewImageUrl))
                            {
                                <div class="image-preview">
                                    <img src="@previewImageUrl" alt="Vista previa" />
                                </div>
                            }
                        </div>
                        @if (!string.IsNullOrEmpty(errorMessage))
                        {
                            <div class="floating-alert">
                                @errorMessage
                                <span class="floating-alert-close">&times;</span>
                            </div>
                        }

                        <div class="modal-footer">
                            <button type="submit" 
                            @onclick="HandleAddProduct" 
                            class="btn-primary">
                                Agregar Producto
                            </button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}



@code {
    private List<VwInventarioEstablecimiento> productosInv = new List<VwInventarioEstablecimiento>();
    private InsertInventario insertproductosInv = new InsertInventario();
    private Stream fileStream;
    private string fileName;
    private string? previewImageUrl; 
    private List<CategoriaProducto> categorias;
    private int? editingProductId = null;

    [Parameter]
    public int estId { get; set; }
    private bool isAddProductDialogOpen = false;
    private bool IsEditing = false;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        categorias = await Categoria.GetCategoriasProductosAsync();

        if (estId == 0)
        {
            var uri = new Uri(NavigationManager.Uri);
            var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

            if (query.TryGetValue("estId", out var estIdValue) && int.TryParse(estIdValue, out var parsedEstId))
            {
                estId = parsedEstId;
            }
            else
            {
                Console.WriteLine("El ID del establecimiento no fue proporcionado o es inválido.");
                return;
            }
        }
        try
        {
            productosInv = await InventarioService.GetInventarioEstablecimientoAsync(estId);
            Console.WriteLine($"Inventario cargado: {productosInv.Count} productos.");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al cargar el inventario: {ex.Message}");
        }
    }

    private async Task HandleImageUpload(InputFileChangeEventArgs e)
    {
        var file = e.File;

        if (file.ContentType.StartsWith("image/") && file.Size <= 1048576) 
        {
            using var memoryStream = new MemoryStream();
            await file.OpenReadStream(maxAllowedSize: 1048576).CopyToAsync(memoryStream);
            fileStream = new MemoryStream(memoryStream.ToArray());
            fileName = file.Name;

            previewImageUrl = $"data:{file.ContentType};base64,{Convert.ToBase64String(memoryStream.ToArray())}";
        }
        else
        {
            Console.WriteLine("Archivo no válido. Solo se permiten imágenes de hasta 1 MB.");
        }
    }

    private void ToggleProductEdit(int id)
    {
        if (editingProductId == id)
        {
            editingProductId = null;
        }
        else
        {
            editingProductId = id;
        }
    }

    private async Task BotonCancelar(int id)
    {
        if (editingProductId == id)
        {
            productosInv = await InventarioService.GetInventarioEstablecimientoAsync(estId);
            editingProductId = null;
        }
    }

    private async Task HandleEditProduct(int id)
    {
        try
        {
            var producto = productosInv.FirstOrDefault(p => p.Id == id);
            if (producto == null || producto.CantidadEnElInventario < 0 || estId <= 0 || producto.Id <= 0)
            {
                errorMessage = "Los datos del producto no son válidos.";
                return;
            }

            var updateInventario = new UpdateInventario
                {
                    InvCantidad = producto.CantidadEnElInventario,
                    EstId = estId,
                    ProdId = producto.IdDelProducto,
                    ProdPrecio = producto.PrecioDelProducto,
                };

            var isSuccessful = await InventarioService.EditarProducto(id, updateInventario);
            if (isSuccessful)
            {
                var productoActualizado = productosInv.FirstOrDefault(p => p.Id == id);
                if (productoActualizado != null)
                {
                    productoActualizado.CantidadEnElInventario = updateInventario.InvCantidad.GetValueOrDefault();
                    // productoActualizado. = updateInventario.EstId.GetValueOrDefault();
                }

                await InvokeAsync(StateHasChanged);
                ToggleProductEdit(id);
            }
            else
            {
                errorMessage = $"Error al editar el producto con ID {id}.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Error inesperado: {ex.Message}";
        }
    }


    private async Task HandleAddProduct()
    {
        try
        {
            if (fileStream != null)
            {
                insertproductosInv.EstId = estId;
                insertproductosInv.StatusId = 1;
                var result = await InventarioService.RegistrarInventarioConImagen(insertproductosInv, fileStream, fileName);
                if (result)
                {
                    insertproductosInv = new InsertInventario();
                    fileStream = null;
                    fileName = string.Empty;
                    previewImageUrl = null;
                    productosInv = await InventarioService.GetInventarioEstablecimientoAsync(estId);

                    isAddProductDialogOpen = false;

                }
            }
            else
            {
                throw new ApplicationException("Debe subir una imagen antes de registrar el producto.");
            }
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/index");
    }
    private void HandleBackdropClick()
    {
        insertproductosInv = new InsertInventario();
        isAddProductDialogOpen = false;
        previewImageUrl = null;
    }

   
}